.App {
  text-align: center;
}

header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 0px 6%;
}

select {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

select::-ms-expand {
  display: none;
}

select:hover {
  border-color: #48185b;
  cursor: pointer;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px #ffba00;
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

select option {
  font-weight: normal;
  text-align: center;
}

label {
  margin-top: 20px;
}

button {
  margin-top: 30px;

  background: linear-gradient(110deg, #ff4427, #ffba00);
  color: #fff;
  padding: 10px 30px;
  margin-bottom: 40px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  margin-top: 31px;
  background: linear-gradient(110deg, #ffba00, #ff4427);
}


table {
  padding: 0px 6%;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
}

tr {
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #d7c8dd;
}

tr td:first-child {
  font-weight: bold;
}



.data-show {
  display: flex;
  flex-direction: column;

  background: #FFF;
  padding: 10px;
}

.data-show h2 {
  color: #48185b;
  margin-left: 15px;
}

.data-show h3 {
  font-weight: 500;
  margin-top: 0px;
  margin-left: 60px;
  color: rgb(65, 65, 65);
  font-size: 16px;
}

@media screen and (max-width: 680px) {

  .data-show h2,
  .data-show h3 {
    text-align: center;
    margin-left: 0;
  }
}