@import './fonts.css';

body {
  margin: 0;
  font-family: "Dosis", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #7a4a8c;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #3f3f3f), to(#48185b));
  background: linear-gradient(90deg, #3f3f3f 20%, #48185b);


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-direction: column;

  width: 100%;
}